
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "color";
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

body {
  background: $third;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: $first;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: $dark;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 2rem;
  
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid $four;
  border-radius: 16px 0px 0px 16px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 70%;
  color: $first;
  overflow-wrap: break-word;
}

.todo-input::placeholder {
  color: #ffffff48;
}

.todo-btn {
  background: $four;
  color: $first;
  border: 2rem;
  border-radius:0px 16px 16px 0px;
  padding: 0.55rem;
  margin-bottom: 1rem;
  cursor: pointer;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $third;
  color: $first;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.deletAll {
  background: $second;
  color: $first;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.55rem;
  cursor: pointer;
  
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
 
img{
  
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  
}